<div id="<%= dom_id model %>">
  <p>
    <strong>Login:</strong>
    <%= model.login %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= model.password %>
  </p>

  <p>
    <strong>Passport:</strong>
    <%= model.passport %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= model.surname %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= model.firstname %>
  </p>

  <p>
    <strong>Middlename:</strong>
    <%= model.middlename %>
  </p>

  <p>
    <strong>Born date:</strong>
    <%= model.born_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= model.address %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= model.admin %>
  </p>

  <p>
    <strong>Inspector:</strong>
    <%= model.inspector %>
  </p>

</div>
