<h2>Регистрация</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :surname, 'Фамилия' %><br />
    <%= f.text_field :passport, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :firstname, 'Имя' %><br />
    <%= f.text_field :passport, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :middlename, 'Отчество' %><br />
    <%= f.text_field :passport, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :passport, 'Паспортные данные' %><br />
    <%= f.text_field :passport, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :borndate, 'Дата рождения' %><br />
    <%= f.text_field :borndate, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address, 'Место жительства' %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, 'Пароль' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Подтверждение пароля' %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Регистрация" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
