<p>ИНН: <%= @result.inn %></p>
<% if @result.organization? %>
  <p>КПП: <%= @result.kpp %></p>
  <p>Наименование организации: <%= @result.full_name %></p>
<% else %>  
  <p>Идентификатор ИП: <%= @result.ipid %></p>
  <p>ИП <%= @result.full_name %></p>
<% end %>