<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :passport, "Паспорт", style: "display: block" %>
    <%= form.text_field :passport %>
  </div>

  <div>
    <%= form.label :password, "Пароль", style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation, "Подтверждение пароля", style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.label :surname, "Фамилия", style: "display: block" %>
    <%= form.text_field :surname %>
  </div>

  <div>
    <%= form.label :firstname, "Имя", style: "display: block" %>
    <%= form.text_field :firstname %>
  </div>

  <div>
    <%= form.label :middlename, "Отчество", style: "display: block" %>
    <%= form.text_field :middlename %>
  </div>

  <div>
    <%= form.label :born_date, "Дата рождения", style: "display: block" %>
    <%= form.date_field :born_date %>
  </div>

  <div>
    <%= form.label :address, "Место жительства", style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.submit "Продолжить", class: "btn btn-primary" %>
  </div>
<% end %>
