<div id="<%= dom_id user %>">
  <p>
    <strong>INN:</strong>
    <%= user.inn %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Passport:</strong>
    <%= user.passport %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= user.surname %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= user.firstname %>
  </p>

  <p>
    <strong>Middlename:</strong>
    <%= user.middlename %>
  </p>

  <p>
    <strong>Born date:</strong>
    <%= user.born_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address %>
  </p>
</div>
