<p style="color: green"><%= notice %></p>

<p><%= @user.full_name %></p>
<p><%= @user.inn %></p>

<div>
  <%= link_to "Редактировать", edit_user_path(@user) %>

  <% if current_user.admin? %>
    <%= button_to "Удалить пользователя", @user, method: :delete %>
  <% end %>
</div>
