<h1>Редактирование информации о недвижимости</h1>

<div id="errors"></div>

<%= form_with(url: "/update_estate/#{@estate.id}", method: :patch, local: true) do |form| %>
  <% if @estate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@estate.errors.count, "error") %> prohibited this estate from being saved:</h2>

      <ul>
        <% @estate.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cadastral_number, "Кадастровый номер", style: "display: block" %>
    <%= form.text_field :cadastral_number, value: @estate.cadastral_number %>
  </div>

  <div>
    <%= form.label :square, "Площадь", style: "display: block" %>
    <%= form.text_field :square, value: @estate.square %>
  </div>

  <div>
    <%= form.label :address, "Адрес", style: "display: block" %>
    <%= form.text_field :address, value: @estate.address %>
  </div>

  <div>
    <%= form.label :cost, "Стоимость", style: "display: block" %>
    <%= form.text_field :cost, value: @estate.cost %>
  </div>

  <div>
    <%= form.label :estate_type, "Тип недвижимости", style: "display: block" %>
    <%= form.text_field :estate_type, value: @estate.estate_type %>
    <p>Допустимые типы недвижимости: земля, жилое помещение, нежилое помещение.</p>
  </div>

  <div>
    <%= form.submit "Продолжить", class: "btn btn-primary" %>
  </div>
<% end %>
