<h1>Регистрация недвижимости</h1>

<div id="errors"></div>

<%= form_with(url: "/create_estate/#{@user_id}", method: :post, local: true) do |form| %>
  <% if @estate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@estate.errors.count, "error") %> prohibited this estate from being saved:</h2>

      <ul>
        <% @estate.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cadastral_number, "Кадастровый номер", style: "display: block" %>
    <%= form.text_field :cadastral_number %>
  </div>

  <div>
    <%= form.label :square, "Площадь", style: "display: block" %>
    <%= form.text_field :square %>
  </div>

  <div>
    <%= form.label :address, "Адрес", style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :cost, "Стоимость", style: "display: block" %>
    <%= form.text_field :cost %>
  </div>

  <div>
    <%= form.label :estate_type, "Тип недвижимости", style: "display: block" %>
    <%= form.text_field :estate_type %>
    <p>Допустимые типы недвижимости: земля, жилое помещение, нежилое помещение.</p>
  </div>

  <div>
    <%= form.label :reg_date, "Дата регистрации", style: "display: block" %>
    <%= form.date_field :reg_date %>
  </div>

  <div>
    <%= form.submit "Продолжить", class: "btn btn-primary" %>
  </div>
<% end %>
