<h1><%= @estate.cadastral_number %></h1>
<h1><%= @estate.address %></h1>
<h1><%= @estate.tax %></h1>

<p><%= link_to "Редактировать", edit_estate_path(@estate.id) %></p>

<p><%= link_to "Вернуться к пользователю", show_user_path(@user.id) %></p>

