<h1><%= @estate.cadastral_number %></h1>
<h1><%= @estate.address %></h1>
<h1><%= @estate.tax %></h1>

<p><%= link_to "Редактировать", edit_estate_path(@estate.id) %></p>
<p><%= link_to "Добавить период владения", new_ownership_path("estate", @estate.id) %></p>

<% if current_user.admin? %>
  <%= button_to "Удалить недвижимость", delete_estate_path(@estate.id), method: :delete %>
<% end %>
