<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <a><%= link_to 'Физические лица', root_path, class: "user_choice col h5 text-muted text-uppercase" %></a>
      </div>
      <div class="row">
        <a><%= link_to 'Индивидуальные предприниматели', root_path, class: "user_choice col h5 text-muted text-uppercase" %></a>
      </div>
      <div class="row">
        <a><%= link_to 'Юридические лица', root_path, class: "user_choice col h5 text-muted text-uppercase" %></a>
      </div>
    </div>
    <div class="col-6">
      <h1 class="center">Сервисы</h1>
      <div class="row">
        <a><%= link_to 'Уплата налогов и пошлин', root_path, class: "col h5 text-muted" %></a>
        <a><%= link_to 'Справочная информация', root_path, class: "col h5 text-muted" %></a>
      </div>
      <div class="row">
        <a><%= link_to 'Прозрачный бизнес', root_path, class: "col h5 text-muted" %></a>
        <a><%= link_to 'Сведения об ИНН физического лица', root_path, class: "col h5 text-muted" %></a>
      </div>
    </div>
  </div>
</div>
