<h1><%= @vehicle.state_number %></h1>
<h1><%= @vehicle.model %></h1>
<h1><%= @vehicle.tax %></h1>

<p><%= link_to "Редактировать", edit_vehicle_path(@vehicle.id) %></p>


<p><%= link_to "Вернуться к пользователю", show_user_path(@user.id) %></p>

<% if current_user.admin? %>
  <%= button_to "Удалить транспортное средство", delete_vehicle_path(@vehicle.id), method: :delete %>
<% end %>
