<p><%= link_to "Добавить новую недвижимость", new_estate_path %></p>

<%= paginate @estates %>

<div>
  <% @estates.each do |estate| %>
    <div>
      <p>
        <%= link_to estate.address, estate_path(estate.id) %>
      </p>
      <p>
        <%= estate.cadastral_number %>
      </p>
    </div>
  <% end %>
</div>

<%= paginate @estates %>