<p><%= link_to "Добавить новое транспортное средство", new_vehicle_path %></p>

<%= paginate @vehicles %>

<div>
  <% @vehicles.each do |vehicle| %>
    <div>
      <p>
        <%= link_to vehicle.state_number, vehicle_path(vehicle.id) %>
      </p>
      <p>
        <%= vehicle.model %>
      </p>
    </div>
  <% end %>
</div>

<%= paginate @vehicles %>