<h2><%= @user.full_name %></h2>
<h3>ИНН: <%= @user.inn %></h3>
<% unless @user.user_id == nil %>
  <p>Руководитель: <%= link_to @owner.full_name, show_user_path(@owner.id) %></p>
<% end %>
<p><%= link_to "Редактировать", edit_path(@user.id) %></p>
<p><%= link_to "Добавить доход", new_ownership_for_income_path('income', @user.id) %></p>
<p><%= link_to "Отправить уведомление", new_notification_path(@inspector.id, @user.id) %></p>

<% if current_user.admin? %>
  <%= button_to "Удалить пользователя", delete_user_path(@user.id), method: :delete %>
<% end %>
<% unless @organizations == nil %>
  <p>
    <% @organizations.each do |organization| %>
      <%= link_to "#{organization.full_name}", show_user_path(organization.id) %>
    <% end %>
  </p>
<% end %>
<p>
  <% @notifications.each do |notification| %>
    <%= notification.created_at %>
    <%= link_to "#{notification.preview}", notification_path(notification.id) %>
  <% end %>
</p>