<p></p>
<% if @paid_vehicles.empty? %>
  <% @paid_vehicles.each do |ownership| %>
    
    <%= ownership.reg_date %>
    <%= ownership.end_date %>
  <% end %>
<% end %>

<p></p>
<% if @paid_estates.empty? %>
  <% @paid_vehicles.each do |ownership| %>
    
    <%= ownership.reg_date %>
    <%= ownership.end_date %>
  <% end %>
<% end %>

<p></p>
<% if @paid_vehicles.empty? %>
  <% @paid_vehicles.each do |ownership| %>
    
    <%= ownership.reg_date %>
    <%= ownership.end_date %>
  <% end %>
<% end %>

<p></p>
<% if @paid_vehicles.empty? %>
  <% @paid_vehicles.each do |ownership| %>
    
    <%= ownership.reg_date %>
    <%= ownership.end_date %>
  <% end %>
<% end %>

